<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title><%= page_name; %></title>
    <link rel="stylesheet" href="/styles.css">
    <% if (typeof user == "object") { %>
        <link rel="stylesheet" href="/event-log.css">
    <% } %>
</head>
<body>

<header>
    <div class="headerLeft">
        <div class="logoBox">
            <img class="logo" src="/retrostar-logo.jpg" alt="RetroStar Logo">
            <h1>RetroStar</h1>
        </div>
        <nav class="mainNav">
            <ul class="menu">
                <li class="<%= page_name == "status" ? "active" : ""; %>">
                    <a href="/status">Status</a>
                </li>
                <% if (typeof user == "object") { %>
                    <li class="<%= page_name == "lat" ? "active" : ""; %>">
                        <a href="/lat">LAT Terminal</a>
                    </li>
                    <li class="<%= page_name == "installation" ? "active" : ""; %>">
                        <a href="/installation">Installation</a>
                    </li>
                <% } %>
                <li class="<%= page_name == "about" ? "active" : ""; %>">
                    <a href="/about">Über Retrostar</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="headerRight">
        <nav class="serviceNav">
            <ul class="menu">
            <% if (typeof user == "object") { %>
                <li class="<%= page_name == "set-password" ? "active" : ""; %>">
                    <a href="/set-password"><%= user.username %></a>
                </li>
            <% } %>

                <li>
                    <% if (typeof user == "object") { %>
                        <form action="/logout" method="post">
                            <button type="submit" class="logout-btn function">Logout</button>
                        </form>
                    <% } else { %>
                        <form action="/auth" method="get">
                            <button type="submit" class="logout-btn">Login</button>
                        </form>
                    <% } %>
                </li>
            </ul>
        </nav>
    </div>
</header>

<main>
    <%- content; %>
</main>


<footer>
    <p>
        &copy; 2024 VzEKC e.V.
        • <a href="https://forum.classic-computing.de/index.php?datenschutzerklaerung/">Datenschutzerklärung</a>
        • <a href="https://forum.classic-computing.de/index.php?legal-notice/">Impressum</a>
    </p>
</footer>
<% if (typeof user == "object") { %>
    <div id="event-log-container">
        <div id="event-log"></div>
        <img id="event-log-icon" src="/log.svg" width="40" height="40"/>
        <script src="/event-log.js"></script>
    </div>
<% } %>
</body>
</html>
