<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title><%= page_name %></title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>

<header>
    <div class="logo">
        <img src="logo.png" alt="Site Logo">
    </div>
    <nav>
        <ul class="menu">
            <li class="<%= page_name == 'news' ? 'active' : '' %>">
                <a href="news">News</a>
            </li>
            <li class="<%= page_name == 'status' ? 'active' : '' %>">
                <a href="status">Status</a>
            </li>
            <% if (typeof user == 'object') { %>
            <li class="<%= page_name == 'installation' ? 'active' : '' %>">
                <a href="installation">Installation</a>
            </li>
            <% } %>
        </ul>
    </nav>
    <div class="user">
        <% if (typeof user == 'object') { %>
            <div class="user-profile">
                <a href="/set-password">
                    <img src="profile.svg" alt="User Profile">
                </a>
            </div>
        <% } else { %>
            <a href="/login" class="login-btn">Login</a>
        <% } %>
    </div>
</header>

<main>
    <%- content %>
</main>
<footer>
    <p>&copy; 2024 VzEKC e.V.</p>
</footer>
</body>
</html>
